<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/canvas.css">
  <title></title>
</head>
<body>
  <header>
    <h1>Pick a Color</h1>
  </header>
  <div id="container">
    <canvas id="canvas" width="300" height="300"></canvas>
    <div id="overlay"></div>
  </div>
  <div class="btm-container">
    <div id="preview"></div>
    <div>
      <p></p>
      <button type="button" name="save">Save Color</button>
    </div>
  </div>
  <script type="text/javascript" src="js/main.js"></script>
</body>
</html>
