<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/canvas.css">
  <title></title>
</head>
<body>
  <h1>help</h1>

  <div id="container">
    <canvas id="canvas" width="300" height="300"></canvas>
    <div id="overlay"></div>
  </div>
  <div class="btm-container">
    <div id="preview"></div>
    <div>
      <p></p>
      <button type="button" name="save">Save Color</button>
    </div>
  </div>

  <!-- <div class="hover_bkgr">
    <span class="helper"></span>
    <div>
      <div class="popupCloseButton">X</div>
      <p>Color Saved!</p>
    </div>
  </div> -->
  <!-- best practice: specifying width and height within the canvas tag and not in CSS to prevent distorted rendering -->

  <script type="text/javascript" src="js/main.js"></script>
</body>
</html>
