<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Colorsee: Pick Colors and Make Palettes</title>
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Rubik" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header>
    <section>
      <img src="img/colorwheel.png" alt="logo" class="wheel">
      <h1>Color Log</h1>
    </section>
    <nav>
      <ul>
        <li>
          <a href="/activate">
            <img src="img/eyedropper2.png" alt="color picker" class="resize">
            <span>Color Picker</span>
          </a>
        </li>
        <li>
          <a href="/palettegalry">
            <img src="img/arrowright.png" alt="arrow icon" class="resize">
            <span>Palette Gallery</span>
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <!-- display list of colors user saved from dom -->
  <section class="color-sect">
    <ul>
      <% for(var i=0; i<colors.length; i++) {%>
        <li class="color-tabs">
          <span style="background:<%=colors[i].rgb%>;"></span>
          <div class="btm">
            <span><%= colors[i].alias %></span>
            <span><%= colors[i].hex %></span>
            <span><%= colors[i].rgb %></span>
          </div>
          <span><i class="fas fa-times-circle"></i></span>
        </li>
        <%}%>
      </ul>
    </section>
    <script type="text/javascript" src="js/colors.js"></script>
  </body>
  </html>
