<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Colorsee</title>
  </head>
  <body>
    <header>
      <h1 class="firstP">Colorsee</h1>
      <p>Find Colors and Make Palettes</p>
    </header>
    <div class="middle-container">
      <div class="btn-container">
        <button class="web-auth-btn"><a href="/signup">New User</a></button>
      </div>
      <p> · · · </p>
      <div class="btn-container">
        <button class="web-auth-btn"><a href="/login">Returning User</a></button>
      </div>
  </div>
  </body>
</html>
