<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Colorsee</title>
  </head>
  <body>
    <header>
      <h1 class="firstP">Colorsee</h1>
      <p>Find Colors and Make Palettes</p>
    </header>
    <section class="middle-container">
      <div>
        <button class="web-auth-btn"><a href="/signup">New User</a></button>
      <img class="wheelLogo" src="img/colorwheel.png" alt="colorwheel">
        <button class="web-auth-btn"><a href="/login">Returning User</a></button>
      </div>
  </section>
  </body>
</html>
