<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Colorsee</title>
  </head>
  <body>
    <header>
      <h1>Colorsee: The Color Hunt</h1>
    </header>
    <section>
      <button><a href="/login">Log In</a></button>
      <button><a href="/signup">Sign Up</a></button>
    </section>
  </body>
</html>
