<!doctype html>
<html>
<head>
    <title>Colorsee</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
      <h1>Returning User</h1>
    </header>

    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
<section class="middle-container">
    <!-- LOGIN FORM -->
    <div>
      <form action="/login" method="post">
        <div class="elbowroom">
            <label>Email:</label>
            <input type="text" class="auth-text" name="email">
        </div>
        <div class="elbowroom">
            <label>Password:</label>
            <input type="password" class="auth-text" name="password">
        </div>

        <button class="web-auth-btn small-btn" type="submit">Login</button>
      </form>
    </div>
  </section>
  <footer>
    <p>New Here? <a href="/signup">Signup!</a></p>
    <p>Go <a href="/">back</a>.</p>
  </footer>
</body>
</html>
