<!doctype html>
<html>
<head>
    <title>Colorsee</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Rubik" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
      <h1>Returning User</h1>
    </header>

    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
<section class="small middle-container">
      <form action="/login" method="post" class="auth-form">
        <fieldset>
            <label>Email:</label>
            <input type="email" name="email">
        </fieldset>
        <fieldset>
            <label>Password:</label>
            <input type="password" name="password">
        </fieldset>
        <button class="small-btn" type="submit">Login</button>
      </form>
  </section>
  <footer>
    <p>New Here? <a href="/signup">Signup!</a></p>
    <p>Go <a href="/">back</a>.</p>
  </footer>
</body>
</html>
