<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Colorsee: Pick Colors and Make Palettes</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Rubik" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header>
      <section>
        <img src="img/colorwheel.png" alt="logo" class="wheel">
        <h1>Palette Creation</h1>
      </section>
    </header>
    <section>
      <form class="creation">
        <div class="create-top">
          <input type="text" id="palName" placeholder="Palette Name">
          <textarea id="desc" placeholder="Optional Description"></textarea>
        </div>

        <!-- display color log colors for specific user to select from -->
        <div class="create-btm">
          <p>Pick complimentary colors for your new palette!</p>
          <ul>
            <% for(var i=0; i<colors.length; i++) {%>
            <li class="color-tabs size">
              <span style="background:<%=colors[i].rgb%>;"></span>
              <div class="btm">
                <span><%= colors[i].alias %></span>
                <span><%= colors[i].hex %></span>
                <span><%= colors[i].rgb %></span>
              </div>
              <span><input type="checkbox" class="addColor"></span>
            </li>
            <%}%>
          </ul>
        </div>
        <section id="side-btns">
          <button type="button" name="button" class="small-btn"><a href="/palettegalry">Cancel</a></button>
          <button type="button" id="mkPalBtn" class="small-btn">Save Palette</button>
        </section>
      </form>
    </section>
    <section id="side-disp">
        <canvas id="canvas" width="500" height="300"></canvas>
        <div id="overlay"></div>
    </section>
    <script type="text/javascript" src="js/palettes.js"></script>
  </body>
</html>
