<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Colorsee</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header>
      <h1>Palette Creation</h1>
    </header>
    <section>
      <form class="creation">
        <div class="create-top">
          <input type="text" id="palName" placeholder="Palette Name">
          <textarea id="desc" placeholder="Optional Description"></textarea>
        </div>

        <!-- display color log colors for specific user to select from -->
        <div class="create-btm">
          <p>Pick complimentary colors for your new palette!</p>
          <ul>
            <% for(var i=0; i<colors.length; i++) {%>
            <li class="color-tabs">
              <span style="background:<%=colors[i].rgb%>;"></span>
              <div class="btm">
                <span><%= colors[i].alias %></span>
                <span><%= colors[i].hex %></span>
                <span><%= colors[i].rgb %></span>
              </div>
              <span><input type="checkbox" class="addColor"></span>
            </li>
            <%}%>
          </ul>
        </div>
        <button type="button" name="mkPalBtn">Save Palette</button>
      </form>
    </section>

    <script type="text/javascript" src="js/palettes.js"></script>
  </body>
</html>
