<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Colorsee</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header>
      <h1>Palettes Gallery</h1>
      <nav>
        <ul>
          <li>
            <a href="/activate">Home</a></li>
          <li>
            <a href="/colorlog">Color Log</a></li>
        </ul>
      </nav>
    </header>
      <section class="new-pal">
        <a href="/mkpalette">
          <i class="fas fa-plus-circle"></i>
          <p>New Palette</p>
        </a>
      </section>
      <section class="pal-sect">
      <!--if u remove the div pls edit save.js variable that holds img src-->
      <ul>
        <% for(var i=0; i<palettes.length; i++) {%>
        <li class="pal-box">
          <div>
            <span>
              <img src="<%=palettes[i].image%>" alt="">
            </span>
            <div class="pal-info">
<<<<<<< HEAD
              <span class="pal-color"><%= palettes[i].title %></span>
=======
              <span><%= palettes[i].title %></span>
              <span class="desc"><%= palettes[i].desc %></span>
>>>>>>> master
            </div>
          </div>
          <span class="dwnld pal-style pal-color"><i class="fas fa-download"></i> Download</span>
          <span class="del pal-style pal-color"><i class="fas fa-times-circle"></i> Delete</span>
        </li>
        <%}%>
      </ul>
    </section>
    <script type="text/javascript" src="js/save.js"></script>
  </body>
</html>
