<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Colorsee</title>
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Rubik" rel="stylesheet">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header>
    <h1>New User</h1>
  </header>

  <% if (message.length > 0) { %>
    <div class="alert alert-danger"><%= message %></div>
    <% } %>
    <section class="small middle-container">
      <form action="/signup" method="post" class="auth-form">
        <fieldset>
            <label>Email:</label>
            <input type="email" name="email">
        </fieldset>
        <fieldset>
            <label>Password:</label>
            <input type="password" name="password">
        </fieldset>
        <button class="small-btn" type="submit">Sign up</button>
      </form>
    </div>
  </section>
  <footer>
    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>
  </footer>
</body>
</html>
