#container {
  position: relative;
}
#container canvas, #overlay {
  position: absolute;
  margin: 170px 0 0 -290px;
}
canvas {
  border: 2px solid black;
}
.btm-container{
  margin: 50px 0 0 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
#preview{
  width: 100px;
  height: 100px;
  margin: 15px;
  border: 2px solid black;
}
.btm-container div{
  padding: 0 0 0 10px;
  flex-direction: row;
}
