*{
  box-sizing: border-box;
}
body {
    margin: 0;
    text-align: center;
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100px;
  background:  url(../img/colorsee_finalproject_banner_.png) no-repeat center;
  background-size: cover;
  background-position: bottom center;
  height: 300px;
}
header h1{
  color: white;
  margin: 5px 0;
}
header p{
  color: white;
  margin: 0 0;
}
p, label{
  color: rgb(150, 150, 150); /*Manatee (dark gray)*/
}
a{
  text-decoration: none;
  color: rgb(0, 204, 102); /*Malachite*/
}
button{
  font-size: 1em;
  padding: 7px 10px;
  background: white;
  color: rgb(0, 204, 102);
  border: 1px solid rgb(150, 150, 150);
  border-radius: 25px;
}
ul{
  width: 100%;
}
li{
  list-style: none;
}
.middle-container{
  display: flex;
  justify-content: center;
  margin:30px 0 0 35%;
  width: 30%;
  flex-direction: column;
}
.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 0;
}
.web-auth-btn{
  border: none;
  background: white;
  color: rgb(0, 204, 102);
  padding: 10px 15px;
}
.web-auth-btn:hover{
  border: 1px solid rgb(0, 204, 102); /*Malachite*/
  border-radius: 25px;
  color: rgb(150, 150, 150); /*Manatee (dark gray)*/
}
.btn-container:first-of-type + p{
  font-size: 3em;
  margin: 0 0;
  color: rgb(230,230,230); /*Platinum*/
}
.web-auth-btn a{
  font-size: 2em;
}
.web-auth-btn a:hover{
  color: rgb(150, 150, 150); /*Manatee (dark gray)*/
}

/* RETURNING USER PAGE */
.elbowroom{
  margin: 10px 0;
}
.auth-text{
  border-radius: 15px;
  border: 1px solid rgb(150, 150, 150); /*Manatee (dark gray)*/
}
.small-btn{
  padding: 3px 6px;
}
.bottom-container{
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: center;
}
.bottom-container p{
  margin: 0 0;
}

/* colorlog tabs */
.color-tabs{
width: 30%;
padding: 10px;
margin-bottom: 5px;
color: rgb(150, 150, 150);
border: 1px solid rgb(150, 150, 150);
border-radius: 25px;
display: flex;
flex-wrap: wrap;
}
.color-tabs span:first-of-type{
  display: inline-block;
  width: 30px;
  height: 30px;
  float:left;
}
.color-tabs .btm{
  width: 80%;
}
.color-tabs .btm span{
  width: 100%;
}
.btm + span input{
  width: 20px;
  height: 20px;
}

/* PALETTE CREATION */
.creation{
  width: 100%;
}
.create-top, .create-btm{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-top input{
  width: 20%;
  padding: 5px 10px;
  margin-bottom: 10px;
}
textarea{
  width: 50%;
  height: 100px;
  padding: 5px 10px;
}
.side-disp{
  position: absolute;
  top: 600px;
  left: 700px;
  border: 1px solid black;
}
