*{
  box-sizing: border-box;
}
body {
    margin: 0;
    text-align: center;
    background: #F5F6FA;
    background-size: 100%;
    font-family: sans-serif;
}
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background:
  linear-gradient(#c2c8e1, #F5F6FA);
  height: 150px;
  margin-bottom: 30px;
}
header h1{
  font-size: 3rem;
  color: rgb(150, 150, 150);
  text-align: center;
  margin: 50px 0 0 0;
}
header p{
  color: white;
  margin: 0 0;
}
header nav{
  height: 100px;
  padding: 0 0 10px 0;
  width: 100%;
}
header nav ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
header nav ul li{
  font-size: 1.3rem;
  padding: 5px 10px;
}
p, label{
  color: rgb(150, 150, 150); /*Manatee (dark gray)*/
}
a{
  text-decoration: none;
  color: rgb(206,193,231); /* Light Grayish Violet */
}
a:hover{
  color: rgb(150, 150, 150);
}
button{
  font-size: 1rem;
  padding: 7px 10px;
  background: white;
  color: rgb(206,193,231); /* Light Grayish Violet */
  border: 1px solid rgb(150, 150, 150);
  border-radius: 25px;
}
button:hover{
  cursor: pointer;
  color: rgb(150, 150, 150);
}
ul{
  width: 100%;
}
li{
  list-style: none;
}
.middle-container{
  display: flex;
  justify-content: center;
  align-content: center;
}
.middle-container div{
  width: 100%;
  flex-direction: column;
}
.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 0;
}
.web-auth-btn{
  border: none;
  background: white;
  color: rgb(206,193,231);
  border-radius: 25px;
  padding: 10px 15px;
}
.web-auth-btn:hover{
  cursor: pointer;
  background:rgb(206,193,231);
  color: rgb(150, 150, 150); /*Manatee (dark gray)*/
}
.btn-container:first-of-type + p{
  font-size: 3rem;
  margin: 0 0;
  color: rgb(230,230,230); /*Platinum*/
}
.web-auth-btn a{
  font-size: 2rem;
}
.web-auth-btn a:hover{
  color:   color: white;
}

/* RETURNING USER PAGE */
.elbowroom{
  margin: 10px 0;
}
.auth-text{
  border-radius: 15px;
  border: 1px solid rgb(150, 150, 150); /*Manatee (dark gray)*/
}
.small-btn{
  padding: 3px 6px;
}
footer{
  margin: 30px 0;
  padding-bottom: 400px;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: center;
}
footer p{
  margin: 0 0;
}
/* color pickers */
#picked{
  display: none;
}
/* colorlog tabs */
.color-sect{
  margin: 20px 0 0 0;
  padding: 0 35px 0 0;
  -webkit-columns: 3 100px;
     -moz-columns: 3 100px;
          columns: 3 100px;
}
.color-tabs{
width: 100%;
padding: 10px;
margin-bottom: 5px;
background: white;
color: rgb(150, 150, 150);
border: 1px solid rgb(150, 150, 150);
border-radius: 5px;
display: flex;
flex-wrap: wrap;
-webkit-column-break-inside: avoid; /* Chrome, Safari */
   page-break-inside: avoid;     /* Theoretically FF 20+ */
   break-inside: avoid-column;  /* IE 11 */
}
.color-tabs span:first-of-type{
  display: inline-block;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  float:left;
}
.color-tabs .btm{
  width: 80%;
}
.color-tabs .btm span{
  width: 100%;
}
.btm + span input{
  width: 20px;
  height: 20px;
}

/* PALETTE CREATION */
.creation{
  width: 100%;
}
.create-top, .create-btm{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-top input{
  width: 20%;
  padding: 5px 10px;
  margin-bottom: 10px;
}
textarea{
  width: 50%;
  height: 100px;
  padding: 5px 10px;
}
.size{
  font-size: 0.9rem;
  width: 30%;
}
#side-disp{
  position: absolute;
  top: 400px;
  left: 700px;
  border: 1px solid black;
}
/* PALETTE GALLERY */
.pal-sect{
  -webkit-columns: 2 100px;
     -moz-columns: 2 100px;
          columns: 2 100px;
}
.new-pal{
  width: 100%;
  height: 350px;
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.fa-plus-circle{
  font-size: 3rem;
  color: white;
  background: rgb(203, 232, 225);
  border-radius: 50%;
}
.new-pal p{
  font-size: 1.4rem;
  color: rgb(150, 150, 150);
}
.new-pal:hover{
  background: rgb(211, 230, 242);
}
.pal-box{
  margin: 0 0 20px 0;
}
.pal-color{
  color: rgb(150, 150, 150);
}
.pal-style{
  font-size: 10px;
  text-transform: uppercase;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 5px;
  padding: 2px;
}
.pal-style:hover{
  cursor: pointer;
}
