*{
  box-sizing: border-box;
}
body {
  margin: 0;
  text-align: center;
  background: #F5F6FA;
  background-size: 100%;
  font-family: sans-serif;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
p, label, h2, li{
  font-family: 'Nanum Gothic', sans-serif;
  color: rgb(150, 150, 150); /*Manatee (dark gray)*/
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background:
  linear-gradient(#c2c8e1, #F5F6FA);
  height: 150px;
  margin-bottom: 30px;
}
header h1{
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
  color: rgb(150, 150, 150);
  text-align: center;
  margin: 0;
  align-self: center;
}
header section{
  background: rgba(232, 185, 136 0.13);
  margin: 50px 0 0 0;
  display: flex;
  height: 150px;
}
.wheel{
  width: 64px;
  height: 60px;
  align-self: center;
}
header p{
  margin: 0 0;
}
header nav{
  height: 100px;
  padding: 0 0 10px 0;
  width: 100%;
  margin-right: 35px;
}
header nav ul{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
header nav ul li{
  font-size: 1.3rem;
  padding: 5px 10px;
}

ul li a span {
    font-size: 24px;
    position: relative;
    top: -8px;
}
.fa-times-circle:hover{
  cursor: pointer;
}
.resize{
  max-width: 40px;
  max-height: 40px;
}
a{
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
  color: rgb(177, 156, 217); /* Light Grayish Violet */
}
a:hover{
  color: rgb(	0, 0, 51);
}
button{
  color: rgb(177, 156, 217);
	padding: 15px 25px;
	display: inline-block;
	border: 1px solid rgba(194, 200, 225,0.21);
	border-bottom-color: rgba(194, 200, 225,0.34);
	text-shadow:0 1px 0 rgba(0,0,0,0.15);
	box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset,
				      0 2px 0 -1px rgba(0,0,0,0.13),
				      0 3px 0 -1px rgba(0,0,0,0.08),
				      0 3px 13px -1px rgba(0,0,0,0.21);
}
button:hover{
  cursor: pointer;
  color: rgb(	0, 0, 51);
}
ul{
  margin: 0;
  width: 100%;
}
li{
  list-style: none;
}
.middle-container{
  height: 400px;
  display: flex;
  justify-content: center;
}
.middle-container div{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.web-auth-btn{
  height: 60px;
  width: 50%;
  padding: 5px 10px;
}
.web-auth-btn:hover{
  cursor: pointer;
}
.web-auth-btn a{
  font-size: 1.5rem;
}
.wheelLogo{
  opacity:0.7;
  width: 16%;
}

/* RETURNING USER PAGE */
.auth-form{
  display: flex;
  align-items: center;
  margin: 1rem auto;
  max-width: 540px;
}
.auth-form fieldset{
  display: flex;
  justify-content: space-between;
  border: none;
}
.auth-form label{
  display: flex;
  flex: 1;
}
.auth-form input{
  display: flex;
  flex: 2;
}
.small{
  height: 200px;
}
.small-btn{
  padding: 4px 12px;
  font-size: 1em;
}
footer{
  margin: 30px 0;
  padding-bottom: 400px;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: center;
}
footer p{
  margin: 0 0;
}
/* color picker */
.color-picker{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}
.side-piece{
  width: 40%;
  justify-content: center;
  align-items: center;
}
.pos h2{
  margin: 0;
  color: rgb(150, 150, 150);
  font-weight: bold;
}
.side-piece section{
  display: flex;
}
.side-piece p{
  width: 70%;
  text-align: left;
}
#picked{
  display: none;
}
.upload-file{
  font-size: 0.9rem;
  color: rgb(150, 150, 150);
}
/* colorlog tabs */
.color-sect{
  margin: 20px 0 0 0;
  padding: 0 35px 0 0;
  -webkit-columns: 3 100px;
  -moz-columns: 3 100px;
  columns: 3 100px;
}
.color-tabs{
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  background: white;
  color: rgb(150, 150, 150);
  border: 1px solid rgb(150, 150, 150);
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  -webkit-column-break-inside: avoid; /* Chrome, Safari */
  page-break-inside: avoid;     /* Theoretically FF 20+ */
  break-inside: avoid-column;  /* IE 11 */
}
.color-tabs span:first-of-type{
  display: inline-block;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  float:left;
}
.color-tabs .btm{
  width: 80%;
}
.color-tabs .btm span{
  width: 100%;
}
.btm + span input{
  width: 20px;
  height: 20px;
}

/* PALETTE CREATION */
.creation{
  width: 100%;
}
.create-top, .create-btm{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-top input{
  width: 25%;
  font-size: 1rem;
  padding: 5px 10px;
  margin-bottom: 10px;
}
textarea{
  width: 50%;
  font-size: 1rem;
  height: 100px;
  padding: 5px 10px;
}
.create-btm ul{
  overflow-y: scroll;
  height: 500px;
}
.size{
  font-size: 0.9rem;
  width: 30%;
}
#side-disp{
  position: absolute;
  top: 400px;
  left: 700px;
  border: 1px solid rgb(150, 150, 150);
}
#side-btns{
  position: absolute;
  top: 730px;
  left: 700px;
}
/* PALETTE GALLERY */
.pal-sect{
  -webkit-columns: 2 100px;
  -moz-columns: 2 100px;
  columns: 2 100px;
}
.new-pal{
  width: 100%;
  height: 350px;
  margin: 45px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.fa-plus-circle{
  font-size: 3rem;
  color: white;
  background: rgb(203, 232, 225);
  border-radius: 50%;
}
.new-pal p{
  font-size: 1.4rem;
  color: rgb(150, 150, 150);
}
.new-pal:hover{
  background: rgb(211, 230, 242);
}
.pal-box{
  margin: 0 0 20px 0;
}
.pal-color{
  color: rgb(150, 150, 150);
}
.pal-style{
  font-size: 10px;
  text-transform: uppercase;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 5px;
  padding: 2px;
}
.pal-style:hover{
  cursor: pointer;
}
